.bs-page-header-404 {

    .only-title {
        @include media-breakpoint-up(md) {
            margin-top: -108px;
            position: relative;
            z-index: 5;
            color: $color-white;
            font-size: 5.5rem;
        }
    }

}

.page-title-404, .page-title, .page-subtitle-404 {
    background-color: transparent;
    color: $color-primary;
    padding: 0;
    max-width: 100%;
    text-align: center;
    margin-left: 0;
    box-shadow:none;
    display: block;
    text-align: center;
    margin-bottom: 15px;

    &:after {
        display: none;
    }
}

.page-subtitle-404 {
    font-size: 40px;
}

.page-title-404 {
    font-size: 150px;
    margin-bottom: 0;

    @include media-breakpoint-down(sm) {
        font-size: 100px;
    }
}

.special-content {
    text-align: center;
    margin: 30px 0;
}

.page-header {
    margin-bottom: 37px;
}

.error-404 {
    padding: 80px 0 115px;

    @include media-breakpoint-down(sm) {
        padding: 0 0 85px;
    }
}