.btn {
    outline: 0;
    display: inline-block;
    padding: 10px 22px;
    border: 1px solid transparent;
    font-family: $font-family;
    text-decoration: none;
    border-radius: 5px;
    font-size: 1.5rem;
    color: $color-white;
    cursor: pointer;
    font-weight: $bold;
    min-width: 170px;
    width: auto;
    margin-bottom: 0;
    text-align: center;
    transition: all ease .3s;

    &:active,
    &:focus,
    .no-touch &:hover,
    &:active:focus {
        border-color: transparent;
        outline: 0;
        box-shadow: none;
    }

    &.border-radius-none {
        border-radius: 0;
    }

    &.btn-xs {
        padding: 7px 19px;
        font-size: 1.3rem;
        min-width: 150px;
    }

    &.btn-md {
        padding: 13px;
        font-size: 1.8rem;
        min-width: 240px;
    }
}

.btn-primary {
    background-color: $color-primary;

    .no-touch &:hover {
        background-color: shade($color-primary, 60%);
        color: $color-white;
    }
}

.btn-secondary {
    background-color: $color-secondary;

    .no-touch &:hover {
        background-color: shade($color-secondary, 50%);
        color: $color-white;
    }
}

.btn-third {
    background-color: $color-third;

    .no-touch &:hover {
        background-color: shade($color-third, 50%);
        color: $color-white;
    }
}

.btn-whatsapp {
    background-image: url(assets/images/WhatsApp-logo.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 83%;
    color: transparent;
    background-color: $whatsapp-color;
    border-radius: 0;

    .no-touch &:hover {
        background-color: shade($whatsapp-color, 50%);
        color: transparent;
    }
}

.btn-hook {
    background-color: $color-fifth;
    color: $color-black;

    .no-touch &:hover {
        background-color: $color-secondary;
        color: $color-white;
    }
}

.btn-white {
    background-color: $color-white;
    color: $color-primary;

    .no-touch &:hover {
        background-color: $color-white;
        color: $color-black;
    } 
}