*.log
wp-config.php
wp-content/advanced-cache.php
wp-content/backup-db/
wp-content/backups/
wp-content/blogs.dir/
wp-content/cache/
wp-content/upgrade/
wp-content/uploads/*
wp-content/wp-cache-config.php
wp-content/plugins/hello.php

wp-content/themes/*/*/addons/*/
wp-content/themes/*/dist/maps
wp-content/themes/balitravel/assets-dev/node_modules

# stock themes
wp-content/themes/twenty*

# Fresh theme translations exclude
wp-content/themes/balitravel/languages/*
!wp-content/themes/balitravel/languages/fresh-services-theme.pot

# node modules + bower modules
node_modules
bower_components

# PHP Storm
.idea

/license.txt
/readme.html
/sitemap.xml
/sitemap.xml.gz